# Binaries

ex??
bin

# CMake

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# LaTeX

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
